{% extends "::base.html.twig" %}

{% block title %}Rent {{ car.name }}{% endblock %}

{% block body %}
<h1>{{ car.name }}</h1>

<p></p>
<p>Color: {{ car.color }}</p>
<p>Horsepower: {{ car.horsepower }}</p>
<p>Type: {{ car.type }}</p>

<p>Reviews (stars and number of reviews)</p>
<p>Available?</p>
<p>Price, rent options</p>

<a href="/rent/{{ car.id }}"><p class="btn">RENT!</p></a>

{% endblock %}
